body {
    background-color: #4B0082; /* Dark violet */
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif; /* Primary font for body text */
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
}

p {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    font-size: 1.2em;
}

h1 {
    font-family: 'Lobster', cursive; /* Decorative font for headings */
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Lobster', cursive; /* Use the same decorative font for subheadings */
    text-align: center;
}

p {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    font-size: 1.2em;
}

.intro-section {
    padding: 50px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.section {
    background-color: #8A2BE2; /* Lighter shade of violet */
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}
.section-link {
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Ensures the color remains the same */
}

.section:hover {
    transform: scale(1.05);
    background-color: #9370DB; /* Even lighter shade */
}

.proposal-section {
    margin-top: 50px;
    padding: 40px 20px;
    background-color: #8B008B; /* Deep magenta */
    border-radius: 15px;
}

@media (max-width: 600px) {
    .section, .proposal-section {
        width: 95%;
    }
}